/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: #f3f3f3;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #212529;
}

/***********************/
/* Reusable Component */
/*********************/

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.g-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.g-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.g-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.g-5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.g-6-cols {
  grid-template-columns: repeat(6, 1fr);
}

a:link {
  text-decoration: none;
}

/***********************/
/* General Component */
/*********************/

/*Hero Section*/
.nav--bar {
  background-color: #343a40;
  padding: 0.8rem;
  justify-content: center;
  align-items: center;
}

ion-icon {
  fill: #5c7cfa;
  color: #f1f3f5;
  font-size: 3rem;
}

.logo--search-bar {
  display: flex;
  column-gap: 24px;
  align-items: center;
}

.search {
  padding-top: 1.2rem;
  border-radius: 5rem;
  width: 300px;
}

.settings {
  display: flex;
  justify-content: flex-end;
  column-gap: 2.4rem;
}

.my-story {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  margin-top: 1.5rem;
}

.pic {
  width: 12rem;
  height: 20rem;
  border-radius: 20px;
}
